**/local/
.sqlx

# Rust
**/debug/
**/dist/
**/target/
**/*.rs.bk
Cargo.lock

# Linux
*~

# macOS
.DS_Store
.AppleDouble
.LSOverride
# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
Thumbs.db
Desktop.ini
desktop.ini
$RECYCLE.BIN/
*.tmp
*.bak
*.swp
~$*
*~
*.dmp
PVS-Studio.**
ehthumbs.db
